# KPMG Virtual Internship

# Task 1: Data Quality Assessment

### ---- 1 Background ----

Client: Sprocket Central Pty Ltd , a medium-sized bikes & cycling accessories organisation, wants to optimize its marketing strategy.

Three datasets are provided:<br>
* Customer Demographic
* Customer Addresses
* Transactions

### ---- 2 Task ----

**Assess the data quality of the data provided.<br>
Make recomendations on cleaning underlying data and mitigate the issues.**

In [4]:
#import libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import os

#my info
__author__ = 'Cici Du'
__email__ = 'cicidhz@gmail.com'

### ---- 3 Load the data ----

In [5]:
def read_sheet(sheet_name):
    '''read individual sheet'''
    return pd.read_excel(filepath, sheet_name = sheet_name, skiprows = 1)

filepath = '/Users/cicidu/Projects/kpmgvi/data/KPMG_VI_Raw_Data.xlsx'

In [6]:
transactions_df = read_sheet("Transactions")
custdemo_df = read_sheet("CustomerDemographic")
custaddress_df = read_sheet("CustomerAddress")

/var/folders/bg/7gtqbmv57q18_39nvwb8mgb80000gn/T/ipykernel_3281/2130631373.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  return pd.read_excel(filepath, sheet_name = sheet_name, skiprows = 1)

### ---- 4 Explore the data ----

#### Transactions table

In [5]:
transactions_df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [6]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [7]:
transactions_df.duplicated().sum()

0

Notes on the transactions table:<br>

* Missing data in multiple columns. Records may be dropped if they hinder analysis. 
* "Product_first_sold_date" column needs to be converted if needed in further analysis.

#### Customer demographics table

In [8]:
custdemo_df.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [9]:
custdemo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [10]:
custdemo_df.duplicated().sum()

0

In [11]:
#Check the values in the gender column
custdemo_df['gender'].unique()

array(['F', 'Male', 'Female', 'U', 'Femal', 'M'], dtype=object)

In [12]:
#Check the number of records with gender == 'U'
(custdemo_df['gender']=='U').sum()

88

Notes on the customer demographics table:<br>

* The "default" column contains invalid data and should be dropped.
* The "gender" column contains inconsistent values and needs to be fixed. 
* Missing data in multiple columns.

#### Customer address table

In [13]:
custaddress_df.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [14]:
custaddress_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [15]:
custaddress_df.duplicated().sum()

0

In [16]:
#Check the values in the state column 
custaddress_df['state'].unique()

array(['New South Wales', 'QLD', 'VIC', 'NSW', 'Victoria'], dtype=object)

Notes on the customer address table:<br>

* The state column contains inconsistent values.

#### Joined tables

In [17]:
# Check customer id completeness in the customer demographics table in case of joined table analysis

address_custid = custaddress_df.iloc[:,0].values
custdemo_id = custdemo_df.iloc[:,0].values
transactions_custid = transactions_df.iloc[:,2].values
outliers_address = []
outliers_transactions = []

def checkoutliers(main, check_list, outlier_list):
    for i in check_list:
        if i not in main:
            outlier_list.append(i)
    print(outlier_list)

checkoutliers(custdemo_id,address_custid, outliers_address)
checkoutliers(custdemo_id,transactions_custid, outliers_transactions)

[4001, 4002, 4003]
[5034, 5034, 5034]

Notes on joined tables:<br>

* Some customer IDs only exist in the transactions or the customer address table but not in the main customer demographics table. These records will not be useful in the analysis. Recommend to client to ensure currency of all data.

### ---- 5 Clean the data ----

In [18]:
#Transactions table: convert the product_first_sold date data
transactions_df['product_first_sold_date'] = pd.to_timedelta(transactions_df.product_first_sold_date, unit='D') + pd.to_datetime('1899-12-30')
transactions_df['product_first_sold_date']

0       2012-12-02
1       2014-03-03
2       1999-07-20
3       1998-12-16
4       2015-08-10
           ...
19995   2003-07-21
19996   1997-05-10
19997   2010-08-20
19998   2004-08-17
19999   1999-06-23
Name: product_first_sold_date, Length: 20000, dtype: datetime64[ns]

In [19]:
#Customer demographics table: drop the 'default' column as it has invalid data
custdemo_df = custdemo_df.drop(['default'], axis = 1)
custdemo_df.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0

In [20]:
#Cutomer demographics table:drop the 88 reords wit gender == 'U'
custdemo_df = custdemo_df[custdemo_df.gender != 'U']
custdemo_df.gender.unique()

array(['F', 'Male', 'Female', 'Femal', 'M'], dtype=object)

In [21]:
##Cutomer demographics table: fix inconsistent values in the gender column
gender_map = {'F':'Female', 'Femal': 'Female', 'M': 'Male'}
custdemo_df['gender'] = custdemo_df.gender.replace(gender_map)
custdemo_df['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [22]:
#Customer address table: fix inconsistent values in the state column
state_map = {'New South Wales':'NSW', 'Victoria': 'VIC'}
custaddress_df['state'] = custaddress_df.state.replace(state_map)
custaddress_df['state'].unique()

array(['NSW', 'QLD', 'VIC'], dtype=object)

In [23]:
transactions_df.to_csv('transactions_df.csv', index=False)
custdemo_df.to_csv('custdemo_df.csv', index=False)
custaddress_df.to_csv('custaddress_df.csv', index=False)

### ---- 6 Summarize Results ----

* Completeness: 
    - Missing data in multiple tables. Recommendation: Make essential fields mandatory when capturing or inputting data. <br>
    - Some customer IDs in the transactions and customer addresses table are not found in the main customer demographics table. These records may need to be removed when joining tables. Recommendation: Make sure all data is up-to-date. 

* Consistency:
    - "Gender" and "state" columns in some tables contain inconsistent values. Recommendation: Instead of entering values, client may consider implementing drop down menus in their data entry process. These values have been fixed.
    - Gender value 'U' makes up 2% of the records in the customer demographics table. They are dropped from the dataset.
    - Values in the "product_first_sold_date" column has been converted to date data type. Recommendation: Enforce data entry of the same type for each variable. 

* Validity:
    - Columns with invalid data or table with invalid columns have been cleaned.